<h1>Create a Cow</h1>

<%# render partial: "form" %>

<%= form_for @cow do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :spots %>
    <%= f.number_field :spots %>
    <br>
    <select name="cow[farmer_id]">
        <% Farmer.all.each do |farmer|%>
            <option value="<%= farmer.id %>">
                <%= farmer.name %>
            </option>
        <% end %>
    </select>
    <%= f.submit %>
<% end %>